.hb-season-table .hb-table-head-data,
.hb-season-table .hb-table-data {
	width: 21%;
}

.hb-season-table .hb-table-data-action,
.hb-season-table .hb-table-head-data-action {
	width: 16%;
}

.hb-season-dates-row {
	border-top: 1px dashed #E5E5E5;
}

p.hb-season-name {
	margin-top: 0px;
}

.hb-season-priority {
	border-radius: 4px;
	color: #fff;
	font-size: 11px;
	font-weight: bold;
	margin-left: 4px;
	padding: 2px 4px 3px;
}

.hb-season-high-priority {
	background: #ffbb3e;
}

.hb-season-default {
	background: #bbb;
}